<section class="custom-welcome-section">
  <div class="container">
    <h2 class="title">{{ block.settings.get('title') }}</h2>
    <p class="subtitle">{{ block.settings.get('subtitle') }}</p>
  </div>
</section>